.options-container {

  border: 5px solid black;
  border-radius: 30px;
  
}
.options-container:hover {
    cursor: pointer;
}

.correct {
    background-color:greenyellow;
}
.incorrect {
    background-color:red;
}


#progress {
    display:flex;
    justify-content: space-between;

}

.progressPrefix {
    text-align: center;
    font-size: 2rem;
}

.progress-main-text {
    text-align: center;
}
#progressBar {
    width: 35rem;
    height: 4rem;
    border: 5px solid black;
    overflow:hidden;
    border-radius: 20px;

}


